<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="https://materializecss.com/images/office.jpg" title="Image description">
      </div>
      <a href="#user" title="User Profile"><img class="circle" src="https://materializecss.com/images/yuna.jpg" alt="User Profile"></a>
      <a href="#name"><span class="name">John Doe</span></a>
      <a href="#email"><span class="email">jdandtu&#64;gmail.com</span></a>
    </div>
  </li>
  <li>
    <ng-container *ngFor="let m of listaMenus">
      <a [routerLink]="m.ruta">{{ m.texto }}</a>
    </ng-container>
  </li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
